:root {
  --bg-color: #ffc421;
  --bg-color-lower: hsl(0, 0%, 95%);
}

h2 {
  font-size: 1.8rem;
}

#gheader {
  width: 100%;
  border-bottom: 1px solid black;
  background-color: var(--bg-color);
  padding: 1rem;
}

#gheader a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#logo {
  font-size: 1.5rem;
}

#gnb {
  link-style: none;
}

#gnb li {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 0.3rem;
}

.social-btn {
  display: inline-block;
  padding: 0.6rem;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  margin: 0.3rem;
  background-color: var(--bg-color);
}

.flex {
  display: flex;
}

.flex-ac {
  align-items: center;
}

.flex-jc {
  justify-content: center;
}

.flex-jsb {
  justify-content: space-between;
}

#main {
  max-width: 800px;
  margin: 0 auto;
}

.tag-list {
  list-style: none;
  display: flex;
}

.tag + .tag {
  margin-left: 0.3rem;
}

.tag a {
  text-decoration: none;
  color: gray;
}

.content-title {
  margin: 1rem 0;
}

.content-summary {
  color: gray;
}

.content-meta {
  float: right;
}

.content-article {
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.content-article h1 {
  font-size: 2.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  border-bottom: 1.5px solid gray;
}
.content-article h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid gray;
}
.content-article h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.content-article p {
  margin-bottom: 1rem;
}
.content-article ul {
  list-style: circle;
  margin: 1rem;
}
.content-article ol {
  list-style: decimal;
  margin: 1rem;
}
.content-article li {
  margin: 5px 0;
}
.content-article code {
  padding: 2.5px 5px;
  font-size: 90%;
  background-color: var(--bg-color-lower);
}
.content-article pre code {
  padding: 0;
  font-size: 0.9rem;
  background-color: unset;
}
.content-article pre {
  overflow: auto;
  overflow-wrap: normal;
  word-wrap: normal;
  padding: 0.7rem;
  background-color: var(--bg-color-lower);
  margin: 2rem 0;
  line-height: 1.6;
}

.content-article blockquote{
	margin: 0.5rem;
	padding: 1rem;
	border-left: 1rem solid #f0b49d;
}

mjx-container{
  overflow: auto;
}

.content-article img {
	margin: 1rem auto;
	width: 80%;
}

p {
  line-height: 1.5;
}

#toc-wrapper {
  display: inline-block;
  padding: 1rem;
  border: 1px solid black;
}

#TableOfContents li {
  list-style: decimal;
  margin-left: 10px;
  margin-top: 5px;
}

#TableOfContents li a{
	text-decoration: none;
	color: black;
}
/* 글 리스트(메인 페이지) */
.list-item {
  margin: 0.3rem 0;
  list-style-type: disc;
}

.list-item a {
  text-decoration: none;
  color: inherit;
  font-size: 1.125rem;
}
