{{ define "head" }}
{{ end }}

{{ define "main" }}
<h1>{{ .Title }}</h1>
<h3 class="content-summary">
{{ .Summary }}
</h3>

<div>
	<div>
	{{ partial "tag_list.html" .Params.tags }}
	{{ with .Params.parent }}
	상위항목: <a href="{{ "wiki" | absURL }}/{{ . | urlize }}">{{ . }}</a>
	{{ end }}
	</div>
	<div class="content-meta">
<ul>
	<li>
작성: {{ .PublishDate.Format .Site.Params.DateFormat }}
	<li>
	</li>
수정: {{ .Lastmod.Format .Site.Params.DateFormat }}
	</li>
</ul>
{{ .ReadingTime }} 분 걸려요.
	</div>
<div>

<article class="content-article">
	{{ .Content }}
</article>
{{ end }}
